{{ define "content" -}}
<div class="object">
    <ul class="versions">
    {{ range .Versions -}}
        <li class="{{ if eq .Version.String $.Head }}head{{ end }}">
            <a href="{{ version_path $.ID .Version}}">
                <span class="vnum">{{ .Version }}</span>
                <span class="created">({{ format_date .Created }}): </span>
                <span class="message">{{ .Message }}</span>
            </a>
        </li>
    {{- end }}
    </ul>
</div>
{{- end }}