{{ define "content" -}}
<div class="object">
    <ul class="versions">
    {{ range .Versions -}}
        <li>
            <span class="vnum"><a href="{{ version_path $.ID .Version}}">{{ .Version }}</a></span>
        </li>
    {{- end }}
    </ul>
</div>
{{- end }}