{{ define "content" }}
<ul>
{{ range .Objects }}
    <li class="object">
        <span class="id"><a href="{{ $.ObjectPath .ID }}">{{ .ID }}</a></span>
        <span class="head">{{ .Head }}</span>
        <span class="head_created">{{ .HeadCreated.Format "2006-01-02" }}</span>
    </li>
{{ end }}
</ul>
{{ end }}