{{ define "content" }}
<p class="description">
    {{ .Description }}
</p>
<ul>
{{ range .Objects }}
    <li class="object">
        <span class="id"><a href="{{ object_path .ID }}">{{ .ID }}</a></span>
        <span class="head">{{ .Head }}</span>
        <span class="head_created">{{ .HeadCreated.Format "2006-01-02" }}</span>
    </li>
{{ end }}
</ul>
{{ end }}